<!DOCTYPE html>
<html lang="en">

<head th:replace="~{index :: head}">
	<title>Registeration Page</title>
</head>

<body class="login-img3-body">
	<title>Registeration Page</title>
	<div class="container">
		<form class="login-form" th:action="@{/register-new}" method="post">
			<div class="login-wrap">
				<p class="login-img">Register</p>
				<div class="mb-3">
					<label>Enter Full Name</label> <input type="text" name="fullName" class="form-control">
				</div>
				<div class="mb-3">
					<label>Enter Email</label> <input type="text" name="email" class="form-control">
				</div>
				<div class="mb-3">
					<label>Enter Password</label> <input type="text" name="password" class="form-control">
				</div>
				<div class="mb-3">
					<label>Enter Occupation</label> <input type="text" name="occupation" class="form-control">
				</div>
				<div class="mb-3">
					<label>Enter Mobile Number</label> <input type="text" name="mobile" class="form-control">
				</div>
				<div class="mb-3">
					<label>Enter Birthday</label> <input type="text" name="birthday" class="form-control">
				</div>

				<br>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
				<a class="btn btn-info btn-lg btn-block" type="button" th:href="@{/login}">Already Have an Account?</a>
			</div>
		</form>
		<div class="text-right">
			<div class="credits">
				<!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			</div>
		</div>
	</div>


</body>

</html>